@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --toastBackground: #facc15;
  --toastColor: black;
  --toastBarHeight: 0;
}

.wrapper {
  min-height: 55vh;
}


.title-text {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.header-text-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.header-text-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.toggleLanguage:checked ~ .english{
  display: none;
}

